# Node modules
client/node_modules/
server/node_modules/

# Expo/React Native
client/.expo/
client/.expo-shared/
client/android/
client/ios/
client/.vscode/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
