@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --color-background: #0f0f0f;
    --color-primary: #00447c;
    --color-primary-hover: #008cff;
    --color-secondary: #3e7eb3;
    --color-text: #9ca3af;
    --color-subtext: #9ca3af;
    --color-negative-red: #962e2e;
    --color-negative-red-hover: #ff0000;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f0f0f;
}

.gate-body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f0f0f;
}

.gate-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.gate-box {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    text-align: center;
    padding: 40px;
}

.gate-title {
    font-size: 26px;
    font-weight: 600;
    color: var(--color-primary);
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.gate-subtitle {
    font-size: 14px;
    color: #9ca3af;
    margin-bottom: 35px;
}

.gate-input-group {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.gate-input-group label {
    font-weight: 500;
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #cbd5e1;
}

.gate-input-group input {
    width: 100%;
    padding-left: 15px;
    height: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 15px;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.gate-input-group input:focus {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.gate-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: var(--color-primary);
    cursor: pointer;
    transition: all 0.3s ease;
}

.gate-btn:hover {
    opacity: 0.5;
    background: var(--color-secondary);
}

.gate-footer {
    margin-top: 50px;
    font-size: 12px;
    color: #94a3b8;
}

.gate-footer a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
}

.gate-footer a:hover {
    text-decoration: underline;
}


/********************************************************* DASHBOARD *********************************************************/



.admin-page {
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.admin-sidebar {
    width: 300px;
    background: rgba(17, 24, 39, 0.7);
    backdrop-filter: blur(20px);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    z-index: 2;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
}

.admin-sidebar h2 {
    color: #60a5fa;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
}

.admin-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-sidebar li {
    padding: 14px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
    color: #cbd5e1;
    font-weight: 500;
    margin-bottom: 10px;
}

.admin-sidebar li:hover {
    background: linear-gradient(90deg, rgba(59, 130, 246, 0.3), rgba(16, 185, 129, 0.3));
    color: #fff;
    transform: translateX(5px);
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}

.admin-sidebar .active {
    background: linear-gradient(90deg, rgba(59, 130, 246, 0.3), rgba(16, 185, 129, 0.3));
    color: #fff;
    transform: translateX(5px);
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}

.admin-main {
    flex: 1;
    padding: 40px;
    background: radial-gradient(circle at top right, #1e293b 0%, #0f172a 80%);
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.admin-header h1 {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(59, 130, 246, 0.4);
}

.admin-section {
    background: rgba(255, 255, 255, 0.05);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    backdrop-filter: blur(15px);
}

.admin-section h2 {
    color: #60a5fa;
    margin-bottom: 15px;
    font-weight: 600;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
}

.admin-table th,
.admin-table td {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 14px;
}

.admin-table th {
    color: #94a3b8;
}

.admin-table tr td{
      transition: transform 0.3s ease; 
      cursor: pointer;
}

.admin-table tr:hover td {
    transform: translateX(10px);
}
.admin-table tr:last-child td {
    border-bottom: none;
}

.admin-btn {
    border: none;
    border-radius: 8px;
    padding: 7px 12px;
    cursor: pointer;
    color: #fff;
    margin-left: 5px;
    transition: 0.2s;
}

.admin-ban-btn {
    background: #f59e0b;
}

.admin-terminate-btn {
    width: 100px;
    background: var(--color-negative-red);
    border: none;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.admin-terminate-btn:hover {
    background: var(--color-negative-red-hover);
}


.admin-notify-btn {
    width: 100px;
    background: var(--color-primary);
    border: none;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin-left: 15px;
}

.admin-notify-btn:hover {
    background: var(--color-primary-hover);
}


.admin-approve-btn {
    background: #10b981;
}

.admin-reject-btn {
    background: var(--color-negative-red-hover);
}

.admin-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.admin-logout-btn {
    border: none;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    margin-left: 5px;
    transition: 0.2s;
    background: var(--color-negative-red);
    font-size: 18px;
    transition: 0.5s;
}

.admin-logout-btn:hover {
    background: var(--color-negative-red-hover);
}